body{
    background-image: url('https://png.pngtree.com/background/20230524/original/pngtree-the-game-of-chess-picture-image_2710450.jpg');
    background-size: cover;
}

#gameboard{
    width: 600px;
    height:600px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}
.board{
    align-items: center;
    width: auto;
    display: flex;
    justify-content: center;
}
#info-display{
    font-size: 30px;
    text-align: center;
    color: #ff0000;
}
.turn{
    font-size: 30px;
    text-align: center;
    
}

.square{
    height: 75px;
    width: 75px;
    background-color: green;
    position: relative;
}

.beige{
    background-color:rgb(198, 183, 159);
}
.brown{
    background-color:rgb(148, 108, 70);
}

.black{
    fill: rgb(0, 0, 0);
}
.white{
    fill:white;
}

.square svg{
    width:60px;
    height:60px;
    margin:5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 10;
}